 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #85C7F2;
        }

        header {
            background-color: #85C7F2;
            color: white;
            padding: 10px;
            text-align: center;
        }
        .image{
            width: 300px;
            height: 65px;
            align-items: center;
        }

        main {
            margin: 20px;
        }

        form {
            background-color: white;
            padding: 20px;
            max-width: 600px;
            margin: 20px auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        form label {
            display: block;
            margin-bottom: 8px;
        }

        form input, form textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        form button {
            background-color: blue;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        form button:hover {
            background-color: #333;
        }

        #feedback-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #feedback-container h2 {
            margin-bottom: 10px;
            
        }

        #feedback-list {
            list-style: none;
            padding: 0;
        }

        .feedback-item {
            margin-bottom: 10px;
        }

        
@media (max-width: 1400px){
    header{
        padding: 17px 3%;
        transition: .2s;
    }
    header.sticky{
        padding: 10px 3%;
        transition: .2s;

    }
    section{
        padding: 80px 3%;
        transition: .2s;
    }
    :root{
        --bug-font: 4.5rem;
        --h2-font: 2.3rem;
        --p-font: 1rem;
        transition: .2s;
    }
}
@media (max-width: 500px){
    header{
        padding: 17px 3%;
        transition: .2s;
    }
    header.sticky{
        padding: 10px 3%;
        transition: .2s;
  
    }
    section{
        padding: 80px 3%;
        transition: .2s;
    }
    :root{
        --bug-font: 4.5rem;
        --h2-font: 2.3rem;
        --p-font: 1rem;
        transition: .2s;
    }
  }
@media (max-width: 1040px){
    #menu-icon{
        display: block;
    }
    .sticky #menu-icon{
        color: var(--text-color);
    }
    .home{
        height: 88px;
    }
    .side-bar{
        position: absolute;
        top: 0;
        right: 0;
        width: 270px;
        height: 120vh;
        background: #1067cc;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 30px;
        transition: 0.5s all;
    }
    .side-bar a{
        display: block;
        margin: 1.2rem;
    }
    .sticky .side-bar{
        color: var(--bg-color);
    }
    .side-bar a:hover{
        color: var(--text-color);
    }
    .open{
        right: 0;
    }
    .list{
        width: 50%;
        margin-bottom: 12px;
    }
}
@media (max-width: 500px){
    .list{
        width: 100%;
    }
    
    :root{
        --big-font: 3.8rem;
        --h2-font: 1.8rem;
        transition: .2s;
    }
    .text{
        text-align: center;

    }

}