body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #85C7F2;
    text-align: left;
  
   

}

header {
    background-color: #85C7F2;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

button:hover {
    background-color: #555;
}


#robotCheckbox {
    margin-top: 20px;
    align-items: left;
    justify-content: left;
}


   
.image{
width: 30px;
height: 30px;
}
#result {
    margin-top: 20px;
    align-items: left;
   
   justify-content: left;
}




@media (max-width: 1400px){
    header{
        padding: 17px 3%;
        transition: .2s;
    }
    header.sticky{
        padding: 10px 3%;
        transition: .2s;

    }
    section{
        padding: 80px 3%;
        transition: .2s;
    }
    :root{
        --bug-font: 4.5rem;
        --h2-font: 2.3rem;
        --p-font: 1rem;
        transition: .2s;
    }
}
@media (max-width: 500px){
  header{
      padding: 17px 3%;
      transition: .2s;
  }
  header.sticky{
      padding: 10px 3%;
      transition: .2s;

  }
  section{
      padding: 80px 3%;
      transition: .2s;
  }
  :root{
      --bug-font: 4.5rem;
      --h2-font: 2.3rem;
      --p-font: 1rem;
      transition: .2s;
  }
}
@media (max-width: 1040px){
    #menu-icon{
        display: block;
    }
    .sticky #menu-icon{
        color: var(--text-color);
    }
    .home{
        height: 88px;
    }
    .side-bar{
        position: absolute;
        top: 0;
        right: 0;
        width: 270px;
        height: 120vh;
        background: #1067cc;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 30px;
        transition: 0.5s all;
    }
    .side-bar a{
        display: block;
        margin: 1.2rem;
    }
    .sticky .side-bar{
        color: var(--bg-color);
    }
    .side-bar a:hover{
        color: var(--text-color);
    }
    .open{
        right: 0;
    }
    .list{
        width: 50%;
        margin-bottom: 12px;
    }
}
@media (max-width: 500px){
    .list{
        width: 100%;
    }
    
    :root{
        --big-font: 3.8rem;
        --h2-font: 1.8rem;
        transition: .2s;
    }
    .text{
        text-align: center;

    }

}

<!--css footer --!>
/* REMOVE THIS, USE YOUR OWN  */
html,body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif;
    background-color: #070617;
  }
 
  /* STYLES SPECIFIC TO FOOTER  */
  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #070617;
  }
  .footer .col {
    width: 300px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
   
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }
  
.horizontal-line {
    border: 1px solid #ccc; 
    margin: 20px 0;
}
.copy 
{
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: medium;
    font-family: inherit;
    color: #999999;
  }

  .fa {
    padding: 10px;
    font-size: 30px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #007bb5;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
.fa-instagram {
    background: #fa30ce;
    color: white;
  }  
  .fa-twitter {
    background: #007bb5;
    color: white;
  }
